<div class="box-image">
  <div>
    <div class="avatar"><%= image_tag(current_user.image_url) %></div>
    <div><%= current_user.name %></div>
    <div><%= link_to 'Edit', edit_user_registration_path, :class => 'btn' %></div>
  </div>
  <%= form_for(@avatar,:url => '/upload_avatar' , :html => { :multipart => true, :id => "fileupload" }) do |f| %>
      <div class="row">
        <div class=" fileupload-buttonbar">
          <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>
      <span class="btn btn-mini fileinput-button">
        <i class="icon-plus"></i>
        <span> Upload new avatar</span>
        <%= f.file_field :upload, :multiple => true %>
      </span>
        </div>
      </div>
  <% end %>
</div>
<div  class="list-avatar">
    <ul class="thumbnails files">
      <% current_user.avatars.each do |image| %>
        <li>
          <div class="image" data-id="<%=image.id%>">
            <i class="icon-remove"></i>
            <%= image_tag(image.upload.thumb.url, :class => image.upload.thumb.url == current_user.image_url ? "active" : "")   %>
          </div>
        </li>
      <% end %>
    </ul>
</div>

